/* Fonts */

/* Instrument Sans */

.instrument-sans-semibold {
  font-family: 'Instrument Sans';
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Inter */

.inter-medium {
  font-family: 'Inter';
  font-weight: 450;
  font-style: normal;
}

.inter-normal {
  font-family: 'Inter';
  font-style: normal;
}

/* text */

h1 {
    font-family: 'Instrument Sans', arial;
    font-size: 70px;
}

p {
    font-family: 'Inter', arial;
    font-size: 18px;
}

h2 {
    font-family: 'Inter', arial;
    font-size: 15px;
}

.title-desktop {
 font-size: 70px;
}
